{%extends "layout.html"%}
{%block content%}
<div class="about">
    <h3>About myself</h3>
    <p>Hi, my name is Mikel Rodriguez. I'm a Software Engineer and Spanish Linguist with a Master's degree in Iberian Linguistics. Welcome to my personal website!<br>
    I created this site to start practicing Python. This is my first website using it and I hope I soon start to be able to do better apps with Python. If you want to see my work so far, please visit <a href="https://mikelrv.com" target="_blank">my portfolio</a></p>
</div>
{%endblock%}